{{ if compiled_title }}
    <title>{{ compiled_title | striptags | entities | trim }}</title>
{{ /if }}

{{ if description }}
    <meta name="description" content="{{ description | striptags | entities | trim }}" />
{{ /if }}

{{ if robots }}
    <meta name="robots" content="{{ robots | raw | list | striptags | entities | trim }}" />
{{ /if }}

<meta property="og:type" content="website" />

{{ if og_title }}
    <meta property="og:title" content="{{ og_title | striptags | entities | trim }}" />
{{ /if }}

{{ if og_description }}
    <meta property="og:description" content="{{ og_description | striptags | entities | trim }}" />
{{ /if }}

<meta property="og:url" content="{{ canonical_url | striptags | entities | trim }}" />

{{ if site_name }}
    <meta property="og:site_name" content="{{ site_name | striptags | entities | trim }}" />
{{ /if }}

<meta property="og:locale" content="{{ site:locale }}" />

{{ if alternate_locales }}
    {{ alternate_locales }}
        <meta property="og:locale:alternate" content="{{ site:locale }}" />
    {{ /alternate_locales }}
{{ /if }}

<meta name="twitter:card" content="{{ twitter_card }}" />

{{ if twitter_handle }}
    <meta name="twitter:site" content="{{ twitter_handle | striptags | entities | trim | ensure_left:@ }}" />
{{ /if }}

{{ if twitter_title }}
    <meta name="twitter:title" content="{{ twitter_title | striptags | entities | trim }}" />
{{ /if }}

{{ if twitter_description }}
    <meta name="twitter:description" content="{{ twitter_description | striptags | entities | trim }}" />
{{ /if }}

{{ if image }}
    {{ image }}

        {{ if is_og_glide_enabled }}
            {{ glide:generate :src="image" preset="seo_pro_og" absolute="true" }}
                <meta property="og:image" content="{{ url }}" />
                <meta property="og:image:width" content="{{ width }}" />
                <meta property="og:image:height" content="{{ height }}" />
            {{ /glide:generate }}
        {{ else }}
            <meta property="og:image" content="{{ permalink }}" />
            <meta property="og:image:width" content="{{ width }}" />
            <meta property="og:image:height" content="{{ height }}" />
        {{ /if }}
        <meta property="og:image:alt" content="{{ alt | striptags | entities | trim }}" />

        {{ if is_twitter_glide_enabled }}
            {{ glide:generate :src="image" preset="seo_pro_twitter" absolute="true" }}
                <meta name="twitter:image" content="{{ url }}" />
            {{ /glide:generate }}
        {{ else }}
            <meta name="twitter:image" content="{{ permalink }}" />
        {{ /if }}
        <meta name="twitter:image:alt" content="{{ alt | striptags | entities | trim }}" />

    {{ /image }}
{{ /if }}

<link href="{{ home_url | striptags | entities | trim }}" rel="home" />
<link href="{{ canonical_url | striptags | entities | trim }}" rel="canonical" />

{{ if prev_url }}
    <link href="{{ prev_url | striptags | entities | trim }}" rel="prev" />
{{ /if }}

{{ if next_url }}
    <link href="{{ next_url | striptags | entities | trim }}" rel="next" />
{{ /if }}

{{ if alternate_locales }}
    <link rel="alternate" href="{{ canonical_url | striptags | entities | trim }}" hreflang="{{ current_hreflang }}" />
    {{ alternate_locales }}
        <link rel="alternate" href="{{ url | striptags | entities | trim }}" hreflang="{{ hreflang }}" />
    {{ /alternate_locales }}
{{ /if }}

{{ if humans_txt }}
    <link type="text/plain" rel="author" href="{{ humans_txt }}" />
{{ /if }}

{{ if published_date }}
    <meta property="article:published_time" content="{{ published_date }}" />
{{ /if }}

{{ if updated_date }}
    <meta property="article:modified_time" content="{{ updated_date }}" />
{{ /if }}

{{ if author }}
    <meta property="article:author" content="{{ author:name ?? author }}" />
{{ /if }}

{{ if google_verification }}
    <meta name="google-site-verification" content="{{ google_verification | striptags | entities | trim }}" />
{{ /if }}

{{ if bing_verification }}
    <meta name="msvalidate.01" content="{{ bing_verification | striptags | entities | trim }}" />
{{ /if }}
