name: Run Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  php-tests:
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    strategy:
      matrix:
        php: [7.4, 8.0, 8.1]
        laravel: [7.*, 8.*, 9.*]
        stability: [prefer-lowest, prefer-stable]
        os: [ubuntu-latest]
        include:
          - laravel: 7.*
          - laravel: 8.*
          - laravel: 9.*
          - os: windows-latest
            php: 7.4
            laravel: 8.*
            stability: prefer-stable
          - os: windows-latest
            php: 8.1
            laravel: 9.*
            stability: prefer-stable
        exclude:
          - laravel: 7.*
            php: 8.1
          - laravel: 9.*
            php: 7.4

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Install dependencies
        run: |
          composer require "illuminate/contracts:${{ matrix.laravel }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit

      - name: Send Slack notification
        uses: 8398a7/action-slack@v2
        if: failure()
        with:
            status: ${{ job.status }}
            author_name: ${{ github.actor }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
